*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  max-width: 1140px;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
}

.result {
  max-width: 711px;
  max-height: 456px;
}

.result__video-container {
  display: block;
  height: 100%;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 386px;
  object-fit: contain;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__list {
  max-width: 390px;
  max-height: 298px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__video-card {
  display: grid;
  grid-template-columns: 50% 50%;
}

.content__video-card-thumbnail {
  width: 100%;
  object-fit: cover;
}

.content__video-card-description-container {
  width: 100%;
  height: 100%;
}

.content__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}